ursShopper/eFIN.MVP.Views/Service References/MarketerServiceReference/eFIN.MVP.Services.Store.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eFIN.MVP.Services.Store" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eFIN.MVP.Services.Store" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Marketer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Marketer" nillable="true" type="tns:Marketer" />
  <xs:complexType name="ArrayOfMarketer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Marketer" nillable="true" type="tns:Marketer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarketer" nillable="true" type="tns:ArrayOfMarketer" />
  <xs:complexType name="MarketerProducts">
    <xs:sequence>
      <xs:element minOccurs="0" name="Marketer" nillable="true" type="tns:Marketer" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfRelatedProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarketerProducts" nillable="true" type="tns:MarketerProducts" />
  <xs:complexType name="ArrayOfRelatedProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelatedProduct" nillable="true" type="tns:RelatedProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelatedProduct" nillable="true" type="tns:ArrayOfRelatedProduct" />
  <xs:complexType name="RelatedProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelatedProduct" nillable="true" type="tns:RelatedProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GTIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="SKU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ProductMarketers">
    <xs:sequence>
      <xs:element minOccurs="0" name="Marketers" nillable="true" type="tns:ArrayOfRelatedMarketer" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductMarketers" nillable="true" type="tns:ProductMarketers" />
  <xs:complexType name="ArrayOfRelatedMarketer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelatedMarketer" nillable="true" type="tns:RelatedMarketer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelatedMarketer" nillable="true" type="tns:ArrayOfRelatedMarketer" />
  <xs:complexType name="RelatedMarketer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Marketer" nillable="true" type="tns:Marketer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelatedMarketer" nillable="true" type="tns:RelatedMarketer" />
</xs:schema>