ursShopper/urShopper.Data.Loader/Service References/ProductService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/eFIN.MVP.Services.Store" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductService_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetMarketerProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMarketerProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetMarketerProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMarketerProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetMarketerProductById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMarketerProductById" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetMarketerProductById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMarketerProductByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetSupplierProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetSupplierProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetSupplierProductById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierProductById" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetSupplierProductById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierProductByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductId" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetAllProductsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsList" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetAllProductsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsListResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_SaveProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_SaveProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_DeleteProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_DeleteProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_DeleteProductById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductById" />
  </wsdl:message>
  <wsdl:message name="IProductService_DeleteProductById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetProduct" message="tns:IProductService_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetProductResponse" message="tns:IProductService_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMarketerProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetMarketerProduct" message="tns:IProductService_GetMarketerProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetMarketerProductResponse" message="tns:IProductService_GetMarketerProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMarketerProductById">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetMarketerProductById" message="tns:IProductService_GetMarketerProductById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetMarketerProductByIdResponse" message="tns:IProductService_GetMarketerProductById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupplierProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetSupplierProduct" message="tns:IProductService_GetSupplierProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetSupplierProductResponse" message="tns:IProductService_GetSupplierProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupplierProductById">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetSupplierProductById" message="tns:IProductService_GetSupplierProductById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetSupplierProductByIdResponse" message="tns:IProductService_GetSupplierProductById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductId">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetProductId" message="tns:IProductService_GetProductId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetProductIdResponse" message="tns:IProductService_GetProductId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetAllProducts" message="tns:IProductService_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetAllProductsResponse" message="tns:IProductService_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProductsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetAllProductsList" message="tns:IProductService_GetAllProductsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetAllProductsListResponse" message="tns:IProductService_GetAllProductsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/SaveProduct" message="tns:IProductService_SaveProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/SaveProductResponse" message="tns:IProductService_SaveProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/DeleteProduct" message="tns:IProductService_DeleteProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/DeleteProductResponse" message="tns:IProductService_DeleteProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProductById">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/DeleteProductById" message="tns:IProductService_DeleteProductById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/DeleteProductByIdResponse" message="tns:IProductService_DeleteProductById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductService" type="tns:IProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarketerProduct">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetMarketerProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarketerProductById">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetMarketerProductById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierProduct">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetSupplierProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierProductById">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetSupplierProductById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductId">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetProductId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProductsList">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetAllProductsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProduct">
      <soap:operation soapAction="http://tempuri.org/IProductService/SaveProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/IProductService/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProductById">
      <soap:operation soapAction="http://tempuri.org/IProductService/DeleteProductById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="BasicHttpBinding_IProductService" binding="tns:BasicHttpBinding_IProductService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/eFIN.MVP.Services.Store/urShopper/ProductService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>