ursShopper/urShopper.Data.Loader/Service References/MarketerService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/eFIN.MVP.Services.Store" />
  <xs:element name="GetMarketer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MarketerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarketerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eFIN.MVP.Services.Store" minOccurs="0" name="GetMarketerResult" nillable="true" type="q1:Marketer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarketerId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MarketerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarketerIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMarketerIdResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eFIN.MVP.Services.Store" minOccurs="0" name="GetAllMarketersResult" nillable="true" type="q2:ArrayOfMarketer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketersList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketersListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/eFIN.MVP.Services.Store" minOccurs="0" name="GetAllMarketersListResult" nillable="true" type="q3:ArrayOfMarketer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMarketer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MarketerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MarketerDomain" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MarketerType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMarketerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveMarketerResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMarketer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MarketerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMarketerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMarketerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MarketerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMarketerByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMarketerProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MarketerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductManufacturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductPrice" type="xs:decimal" />
        <xs:element minOccurs="0" name="ProductSKU" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductUPC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductEAN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductGTIN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductUOM" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMarketerProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductToMarketer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MarketerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductToMarketerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProductFromMarketer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MarketerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProductFromMarketerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarketerProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MarketerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarketerProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/eFIN.MVP.Services.Store" minOccurs="0" name="GetMarketerProductResult" nillable="true" type="q4:MarketerProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarketerProductId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MarketerId" type="xs:long" />
        <xs:element minOccurs="0" name="ProductId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarketerProductIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMarketerProductIdResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarketerProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MarketerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarketerProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/eFIN.MVP.Services.Store" minOccurs="0" name="GetMarketerProductsResult" nillable="true" type="q5:MarketerProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductMarketers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductMarketersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/eFIN.MVP.Services.Store" minOccurs="0" name="GetProductMarketersResult" nillable="true" type="q6:ProductMarketers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>