ursShopper/urShopper.Data.Loader/Service References/SupplierService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/eFIN.MVP.Services.Store" />
  <xs:element name="GetSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eFIN.MVP.Services.Store" minOccurs="0" name="GetSupplierResult" nillable="true" type="q1:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSupplierIdResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSuppliers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSuppliersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eFIN.MVP.Services.Store" minOccurs="0" name="GetAllSuppliersResult" nillable="true" type="q2:ArrayOfSupplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSuppliersList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSuppliersListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/eFIN.MVP.Services.Store" minOccurs="0" name="GetAllSuppliersListResult" nillable="true" type="q3:ArrayOfSupplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SupplierDomain" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SupplierType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSupplierResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplierResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplierById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupplierByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSupplierProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductManufacturer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductPrice" type="xs:decimal" />
        <xs:element minOccurs="0" name="ProductSKU" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductUPC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductEAN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductGTIN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductUOM" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSupplierProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductToSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductToSupplierResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProductFromSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProductFromSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveProductFromSupplierResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/eFIN.MVP.Services.Store" minOccurs="0" name="GetSupplierProductResult" nillable="true" type="q4:SupplierProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierProductId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierId" type="xs:long" />
        <xs:element minOccurs="0" name="ProductId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierProductIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSupplierProductIdResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/eFIN.MVP.Services.Store" minOccurs="0" name="GetSupplierProductsResult" nillable="true" type="q5:SupplierProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductSuppliers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductSuppliersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/eFIN.MVP.Services.Store" minOccurs="0" name="GetProductSuppliersResult" nillable="true" type="q6:ProductSuppliers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSupplierOffer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductSKU" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PriceOffered" type="xs:decimal" />
        <xs:element minOccurs="0" name="OfferValidUpto" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSupplierOfferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSupplierOfferResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSupplierOffer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductSKU" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PriceOffered" type="xs:decimal" />
        <xs:element minOccurs="0" name="OfferValidUpto" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSupplierOfferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveSupplierOfferResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierOffer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductSKU" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PriceOffered" type="xs:decimal" />
        <xs:element minOccurs="0" name="OfferValidUpto" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierOfferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/eFIN.MVP.Services.Store" minOccurs="0" name="GetSupplierOfferResult" nillable="true" type="q7:SupplierOffer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierOffers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierOffersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/eFIN.MVP.Services.Store" minOccurs="0" name="GetSupplierOffersResult" nillable="true" type="q8:ArrayOfSupplierOffer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>